# JetBrains
.idea/workspace.xml
.idea/**/workspace.xml

# Sistema
.DS_Store
Thumbs.db

# Configuración privada
home/.config/zsh/private.zsh

# Backups
*.backup
*.bak
*.old

# Cachés
.cache/
tmp/

# Logs
*.log

# Colores generados por Wallust
config/hypr/.config/hypr/conf/colors.conf
config/kitty/.config/kitty/colors.conf
config/rofi/.config/rofi/themes/colors.rasi
config/swaync/.config/swaync/colors.css
config/waybar/.config/waybar/colors.css
