/* =========================================================
   Rofi + Wallust
   ========================================================= */

* {
    font: "JetBrainsMono Nerd Font 11";

    /* Paleta dinámica (wallust) */
    bg0:        #121312;
    bg1:        #3A3B3A;
    bg2:        #A49C99;
    bg3:        #9E332E;

    fg0:        #F6EFEB;
    fg1:        #EAE0DA;

    accent:     #9E332E;
    urgent:     #421C18;

    background-color:   transparent;
    text-color:         @fg0;
    border-color:       @bg3;
}
