/* =========================================================
   Rofi + Wallust
   ========================================================= */

* {
    font: "JetBrainsMono Nerd Font 11";

    /* Paleta dinámica (wallust) */
    bg0:        #1B181F;
    bg1:        #423F47;
    bg2:        #9698A5;
    bg3:        #4E4A83;

    fg0:        #E9EBF7;
    fg1:        #D7DAEC;

    accent:     #4E4A83;
    urgent:     #421E46;

    background-color:   transparent;
    text-color:         @fg0;
    border-color:       @bg3;
}
