:root {
    /* ── Fondos base del wallpaper ─────────────────── */
    --wl-bg:          #121312;
    --wl-fg:          #F6EFEB;

    /* ── Paleta de 16 colores ───────────────────────── */
    --wl-color0:      #3A3B3A;
    --wl-color1:      #421C18;
    --wl-color2:      #2D3F50;
    --wl-color3:      #8B2E2A;
    --wl-color4:      #9E332E;
    --wl-color5:      #538C77;
    --wl-color6:      #AC9D95;
    --wl-color7:      #EAE0DA;
    --wl-color8:      #A49C99;
    --wl-color9:      #582620;
    --wl-color10:     #3C546A;
    --wl-color11:     #BA3E38;
    --wl-color12:     #D2443D;
    --wl-color13:     #6EBA9F;
    --wl-color14:     #E6D1C6;
    --wl-color15:     #EAE0DA;
}
